$blue: #2077b2
$primary: $blue
$grey-dark: #42464c
$family-sans-serif: "Helvetia Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif

@import "bulma/bulma.sass"
@import "image.sass"

body
  max-width: 800px
  margin: 0 auto
  font-size: 100%

.content
  font-size: 16px
  line-height: 1.75

.media-content
  .subtitle+.title
    margin-bottom: 10px
  .content
    line-height: 1.5

.hero .navbar
  box-shadow: none

html
  background-color: transparent


.navbar .level-item
  margin-left: 10px

.subtitle
  color: #69707a

code
  color: inherit
  background-color: transparent
  font-size: 90%
  font-family: monospace

figure
  caption
    display: block
    padding: 2px 10px 2px 10px
    border-bottom: 1px solid #ccc
    border-radius: 3px 3px 0 0
    font-weight: bold
    color: #777
    text-align: center
    font-size: 80%


article.section + article.section
  margin-top: 10px
  padding-top: 10px
  padding-bottom: 20px

a.button.is-link.is-normal.is-outlined.is-rounded
  margin-top: 0px

main.container
  article.section
    h2.subtitle.is-6
      margin-bottom: 2px
    h1, h1.title.is-3.is-size-4-touch
      line-height: 1.25
      &:not(:first-child)
        margin-top: 2px
        margin-bottom: 2px
      &::before
        color: #aeb1b5
        font-weight: bold
      code
        background-color: #f8f8f8
      &::before
        content: "# "
    div.tag.is-7
      margin-bottom: 2px
    div.content
      section:not(:first-child)
        padding-top: 10px
      h1, h2, h3, h4, h5, h6
        line-height: 1.25
        &:not(:first-child)
          margin-top: 10px
        &::before
          color: #aeb1b5
          font-weight: bold
        code
          background-color: #f8f8f8
      h1+h2:not(:first-child),
      h2+h3:not(:first-child),
      h3+h4:not(:first-child),
      h4+h5:not(:first-child),
      h5+h6:not(:first-child)
        padding-top: 10px
      h2
        &::before
          content: "## "
      h3
        &::before
          content: "### "
      h4
        &::before
          content: "#### "
      h5
        &::before
          content: "##### "
      h6
        &::before
          content: "###### "
      p,
      ol,
      ul,
      pre,
      table
        &:not(:last-child)
          margin-bottom: 1.5em
      table
        td,
        th
          border: 1px solid #d3d6db
          padding: 8px, 10px
          vertical-align: top
      & > code, p > code
        font-size: 90%
        padding: 2px 4px
        margin: 0 2px
        border: 1px solid #ddd
        border-radius: 4px
        background-color: #f8f8f8
        color: #42464c
      pre
        code
          font-size: 90%
          padding: 1rem
          line-height: 1.5
      li
        pre,
        table
          margin-bottom: 1.5rem
      img
        display: block
        max-width: 100%
        height: auto
        border: 0
        vertical-align: middle
        margin-left: auto
        margin-right: auto
      iframe,
      .youtube
        display: block
        margin: 1.6rem auto
      .youtube
        iframe
          margin: 0

      .figure
        .caption
          display: block
          padding: 2px 10px 2px 10px
          border-bottom: 1px solid #ccc
          border-radius: 3px 3px 0 0
          font-weight: bold
          color: #777
          text-align: center
          font-size: 80%

.cmd_hemingway
  width: 100%
  background: #57ad68
  border: none
  border-radius: 50px
  margin: 0
  font-size: 1.4rem
  color: #fff
  transition: all ease 0.3s

.cmd_hemingway:hover
  background: #468c54

// http://stackoverflow.com/a/10841767
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  html, body 
    width: 100%
    overflow-x: hidden

